body {
    font-family: Helvetica;
}

#message-list {position:relative; width:100%}

.message-item {
	width:90%;
	margin:20px;
	padding:20px;
	background:#ededed;
	font-size:1.4em;
	position:relative;
}

.controls {
	position:absolute;
	top:15px;
	right:100px;
}